.countryBg {
    background-image: url(../../Assets/world.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Prevent background from scrolling */
    position: relative;
    
}

.countriesBox{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.cardImage{
    height: 12rem;
}